* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

button {
  border: 0;
  padding: 1%;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea,
input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #536162;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}

.edit-post-form {
  margin-bottom: 5%;
}
.navbar{
  background-color: white;
  display: inline-block;
  width: 100%;
  box-shadow: none;
}
.nav-items-cont{
  float: right;
  padding-top: 50px;
}
.nav-items-cont .nav-links{
  padding:7px;
  font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* font-style: italic; */
  font-size: 18px;
  color: black;
  border-bottom: 3px solid #fc7063;
  transition: all 0.5s ease-in;
}
.nav-items-cont .nav-links:hover{
  border-bottom: 3px solid #252525;
}
a {
  text-decoration: none;
  font-weight: bold;
  
}
.item-card{
  padding: 20px;
  background-color: #f3f4ed;
  border:2px dotted black;
  box-shadow: 1px 7px 14px -1px #d3e0ea;
-webkit-box-shadow: 1px 7px 14px -1px #d3e0ea;
-moz-box-shadow: 1px 7px 14px -1px #d3e0ea;
}
.item-card h2{
    font-size:26px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#fc7063;
    margin-bottom:20px;
}
.w-70{
  width: 70%;
}
.item-subheading{
    font-size:22px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#1687a7;
  }
.cuisine-item{
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  color:#276678;
  overflow-wrap: break-word;
}
.item-content h3{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 26px;
  font-weight: 600;
  color:#ff643d;
  text-transform: capitalize;
}
.item-content p{
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.item-sub-h{
  margin-top:20px;
  margin-bottom: 10px;
  font-size:18px;
  font-weight: 600;
}
.rating-num{
  color: #10b1fc;
  margin-right:2px;
  font-size:36px;
  font-weight: 600;
}
.rating-icon{
  color: #c59b08;
  margin-bottom: 2px;
}
.item-sub-text{
  font-size: 16px !important;
}

.comment-link{
  display:inline-block;
  margin-top: 30px;
  margin-right:5px;
  font-size:18px;
  font-weight: 600;
  color:rgb(8, 204, 83);
}
.main-heading{
    font-size: 42px;
    margin:20px 0px;
    font-weight: 600;
    color: #333;
}
.search-form input{
    width: 80%;
    border-radius: 0px;
    font-size:22px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border:1px solid #536162;
    padding:5px 10px;
    border-radius: 25px;
}
.search-form input:focus,input:active{
  border:1px solid #276678;
}
.search-form button{
  color: white;
  border-radius: 0px;
  background-color: #fc7063;
  padding:6px 30px;
  margin-left: 20px;
  font-size: 22px;
  transition: background 0.3s ease-in;
  border-radius: 25px;
}
.search-form button:hover{
  background-color: #276678;
  color:#f6f5f5;
}
footer {
  border-top: 1px solid #ccc;
  display: flex;
  background-color: #303f56 !important;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}
.footer-content{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size:22px;
  color:#fc7063;
}
.footer-content a{
  color: white;
}
.btn-review{
  font-family: 'Montserrat';
  padding:5px 10px;
  color: black;
  border:1px solid black;
}
.btn-review img{
  width:20px;
  height:20px;
}
.btn-fav{
  font-family: 'Montserrat';
  padding:5px 10px;
  color: black;
  border:1px solid black;
}
.btn-fav img{
  width:20px;
  height:20px;
}

.f-sm{
  font-size: 18px;
}
.card {
  margin-bottom: 1em;
  margin-top: 1em;
}

.rows {
  display: flex;
  flex-direction: column;
}

.coolTitle {
  letter-spacing: 3px;
}

.cardHeader {
  font-family: 'Merriweather';
  font-size: 25px;
  background-color: #fc7063;
}

.cardContent {
  background-color: #f0e4d7;
}

.foodieLogo {
  width: 100%,
  height: auto; 
}

/* Star Rating CSS Below: */
.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

